body {
  margin: 0;
}

.viewport {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  margin: 0;
  padding: 0px 120px;
  flex-grow: 1;
}

.headerLogo {
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headerLinks {
  list-style-type: none;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.introduction {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 120px;
  flex-grow: 4;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.contentColumn {
  display: flex;
  flex-direction: row;
  gap: 43px;
}

.introduction > .contentColumn > .content > h1 {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9faf8;
  font-size: 48px;
}

.introduction > .contentColumn > .content > p {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  font-size: 18px;
}

.introduction > .contentColumn > .content > button {
  all: unset;
  flex-basis: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  background-color: #3882f6;
  width: 110px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  background-color: #6d747d;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 120px;
  flex-grow: 4;
}

.information > h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxText {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 130px;
}

.box {
  width: 124px;
  height: 124px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.information > .boxes > .boxText > p {
  margin: 1px 0px;
  padding: 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  margin: 0;
  padding: 0px 120px;
  flex-grow: 4;
}

.quote > p {
  margin: 0 63px;
  font-family: Arial, Helvetica, sans-serif;
  color: #434343;
  font-weight: 200;
  font-style: italic;
  font-size: 36px;
}

.thor {
  margin-right: 63px;
  display: flex;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0px 120px;
  flex-grow: 4;
}

.blueBox {
  background-color: #3882f6;
  border-radius: 10px;
}

.blueBoxContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px 0px;
}

.blueBoxText {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}

.callToAction > .blueBox > .blueBoxContent > .blueBoxText > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.callToAction > .blueBox > .blueBoxContent > .blueBoxText > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.callToAction > .blueBox > .blueBoxContent > button {
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 0px 30px;
  height: 35px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 120px;
  background-color: #1f2937;
  flex-grow: 1;
}

.footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9faf8;
}
