body {
  margin: 0;
}

.viewport {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  margin: 0;
  padding: 120px;
}

.headerLogo {
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headerLinks {
  list-style-type: none;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.introduction {
  background-color: #1f2937;
  display: flex;
  padding: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.introduction > .content > h1 {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f9faf8;
  font-size: 48px;
}

.introduction > .content > p {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  font-size: 18px;
}

.introduction > .content > button {
  all: unset;
  flex-basis: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  background-color: #3882f6;
  width: 110px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e7eb;
  background-color: #6d747d;
}
